.inicio{
    background-image: linear-gradient(to bottom right, rgb(29, 49, 231) , rgb(156, 165, 245));
    align-items: center;
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 4px;
}

.descricao{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo{
    display: flex;
    height: 200px;
    border-left: solid 3px;
    border-color: #3b3d3b;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 75px;
    background-image: linear-gradient(to right, #e49a3a, #fff);
    margin-right: 200px;
}

.conteudo-text{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 18px;
}

img {
    border-radius: 0px 10px 10px 0px;
    margin-left: 400px;
}

.conteudo-text02{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 18px;
}

.imagem02{
    border-radius: 10px 0px 0px 10px;
    margin: 0;
}