@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Mulish", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.navbar img {
  width: 250px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.navbar-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  font-weight: 500;
}

.container-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  list-style: none;
  margin-right: 0.5rem;
}

.menu li a {
  margin: 0 1rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.menu li a:hover {
  color: #f18517;
  transition: all 0.3s;
  text-decoration: underline;
}

.inicio {
  background-image: linear-gradient(to bottom right, rgb(29, 49, 231), rgb(156, 165, 245));
  align-items: center;
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 4px;
}

.descricao {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.conteudo {
  display: flex;
  height: 200px;
  border-left: solid 3px;
  border-color: #3b3d3b;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 75px;
  background-image: linear-gradient(to right, #e49a3a, #fff);
  margin-right: 200px;
}

.conteudo-text {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 18px;
}

img {
  border-radius: 0px 10px 10px 0px;
  margin-left: 400px;
}

.conteudo-text02 {
  margin-left: 30px;
  margin-top: 30px;
  font-size: 18px;
}

.imagem02 {
  border-radius: 10px 0px 0px 10px;
  margin: 0;
}

.formulario {
  border: 3px double;
  border-radius: 10px;
  border-color: rgb(29, 49, 231);
  height: 300px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 75px;
  padding: 30px;
  align-items: center;
  background-color: #b6b6b6;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border-style: outset;
  border-radius: 8px;
  border-color: rgb(29, 49, 231);
  background-color: rgb(186, 192, 248);
}/*# sourceMappingURL=style.css.map */